@charset "utf-8";
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #EBEBEB;
}
.wrapper {
	margin: 0 auto 0 auto;
	width: 900px;
}

p {
    color: #2A2A2A;
    text-align: center;
}
.mb2{
   margin-bottom: 1em;
}
h1 {
    line-height: 0;
    text-align: center;
    color: #F44336;
}
h2 {
    padding: 0 0 0 0;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    border-bottom-color: #FFFFFF;
    margin-top: -40px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
h3 {
    color: #e4dad3;
    text-align: center;
}
h4 {
    padding: 0 0 0 0;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    border-bottom-color: #000000;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
h5 {
    line-height: 0;
    text-align: center;
}

a:foot {
	color:#6aa4d6;
	text-align: center;
}
#footer{
    margin-top: -30px;
    padding: 20px 0 20px 0;
    font-size: smaller;
    color: #000000;
}
